body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

.invoice-main-container {
    display: flex;
    height: calc(100% - 90px); /* Adjust height to fit content */
    width: 100%;
}

.invoice-content {
    display: flex;
    flex-direction: row;
}

.left-section, .right-section {
    padding: 20px;
    overflow-y: auto; /* Enable vertical scroll */
}

.left-section {
	flex: 6;
}

.right-section {
	flex: 4;
}

.invoice-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    margin-right: 10px;
}

.category-filter {
	width: 180px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    margin-right: 5px;
}

.quantity-sort label {
    margin-left: 5px;
    font-size: 16px;
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
}

.product-list th, .product-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.product-list img.product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.selected-invoice table {
    width: 100%;
    border-collapse: collapse;
}

.selected-invoice th, .selected-invoice td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.selected-invoice .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-align: center;
}

.selected-invoice .delete-btn:hover {
    background-color: #c82333;
}

.selected-invoice tfoot td {
    font-weight: bold;
}

.quantity-input {
	width: 100px;
}

/* CSS for text area ghi chú (note-section) */
.note-section {
    margin-top: 20px;
}

.note-section label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

#invoice-note {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: 50px;
}

/* CSS for confirm button (confirm-invoice-btn) */
#confirm-invoice-btn {
    display: block;
    width: 50%;
    padding: 15px;
    margin: 20px auto 0;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

#confirm-invoice-btn:hover {
    background-color: #0056b3;
}

