header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    margin-left: 50px;
    height: 70px;
    width: 120px;
}

.header-right {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-username {
    font-size: 18px;
    color: #000;
}

.header-logout-link {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.header-logout-link:hover {
    text-decoration: underline;
}